<% include ../partials/header %>
<div class="container">
    <div class="col-sm-12">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% blogs.forEach(function(blog){ %>
        <div class="col-sm-12">
            <div class="thumbnail">
                <h4 style="text-align: right"><%=blog.name.username%></h4>
                <h4><%=blog.title%></h4>
                <span><%= blog.created.toDateString() %></span>
                <div class="description">
                    <p><%- blog.body.substring(0,20); %>.......</p>
                </div>
                <a href="/blogs/<%=blog._id %>" class="btn btn-info btn-sm">Read More</a>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>