<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <h4><strong><h4><%= blog.name.username %></strong></h4>
                <strong class="pull-center"><h4><%= blog.title%></h4></strong>
                <p>
                    <%-  blog.body %>
                </p>
                <span><%= blog.created.toDateString() %></span>
                <% blog.comments.forEach(function(comment){ %>
                <p>
                    <strong> <%= comment.author.username %></strong> -<%= comment.text%>
                </p>
                <% })%>
                <p>
                    <a style=" display: inside"class="btn btn-xs btn-success" href="/blogs/<%= blog._id%>/comments/new">ADD COMMENT</a>
                </p>
                <a style=" display: inline" href="/blogs/<%= blog._id %>/edit" class="btn btn-xs btn-info">EDIT</a>
                <form id="delete-form" method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
                    <button style=" display: inline" type="submit" class="btn btn-xs btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
